
<div class="jumbotron">
	<h1>Welcome to San Francisco Bike Central! </h1>
	<%= image_tag "bike.png" %>
	<p>A platform to report bike related incidents</p>
</div>

<div class= "row">
	<div class= "col-xs-8">
		<% @map_urls.each do |neighborhood, url| %>
  		<h1><%= neighborhood %></h1>
  		<img src=<%= url %>>
  	<% end %>
	</div>	

	<div class= "col-xs-3"> 
		<%= render "legend" %>
		<%= render "options" %>
		<%= render "incidents" %>
	</div>
</div>