<h1>Edit User Info</h1>
<%= form_for @user, html: { class: "col-xs-4" } do |f| %>
      <div class="form-group">
         <%= f.label :username, "User Name" %>
         <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
     </div>

       <div class="form-group">
         <%= f.label :password, "Password" %>
         <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
     </div>

        <div class="form-group">
         <%= f.label :password_confirmation, "Password Confirmation" %>
         <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
     </div>

     <%= f.submit class: "btn btn-success" %>

<% end %>