<!DOCTYPE html>
<html>
  <head>
    <title>BikeSfCentral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <nav class="navbar navbar-default">
  <% unless current_user %>
  <ul class="nav navbar-nav">
  <li>
 	 	<%= link_to "New User", new_user_path %>
 	 		</li>
 	 	</ul>
 	 	<%= render "shared/login_form" %>
   <% else%>
   	 <ul class="nav navbar-nav navbar-right">
	   <li>	<%= link_to "Logout", logout_path %></li>
	   	<li><%= link_to "Edit Account Info", edit_user_path(current_user.id) %></li>
		</ul>


   <% end %>
 		
  </nav>
  <body data-no-turbolinks class="container-fluid">
  	<% flash.each do |type, message| %>
  		<% if type == "error" %>
  			<div class="alert alert-danger"><%= type.titleize %>! <%= message %></div>
  		<% else %>
  			<div class="alert alert-success"><%= type.titleize %>! <%= message %></div>
  		<% end %>


 	<% end %>


    <%= yield %>
  </body>
</html>
